@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: rgb(24, 23, 23);
    font-family: sans-serif;
    color: rgb(226, 225, 225);
}

input:focus {
    outline: none;
}