@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    /* background-color: #101115; */
    font-family: sans-serif;
    color: rgb(226, 225, 225);
}

input:focus {
    outline: none;
}

input[type=text] {
    /* background-color: #181f21; */
    /* border: 2px solid #bbb; */
    /* border:2px solid #181f21; */
    border-radius: 8px;
    padding: 8px 16px;
    /* color: #bbb; */
    margin-top: 6px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 0.4rem;
    width: 10px;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #181f21;
    height: 0.4rem;
}